# ignore the proj execution file
/PA4.xcodeproj
/.DS_Store
PA4/.DS_Store
PA4.xcodeproj/project.xcworkspace/xcuserdata/kwkarlwang.xcuserdatad/UserInterfaceState.xcuserstate
*.pbxproj
*.pbxproj
PA4.xcodeproj/project.xcworkspace/xcuserdata/kwkarlwang.xcuserdatad/UserInterfaceState.xcuserstate
PA4/.DS_Store
PA4/shaders/.DS_Store
PA4.xcodeproj/project.xcworkspace/xcuserdata/kwkarlwang.xcuserdatad/UserInterfaceState.xcuserstate
*.xcuserstate
PA4/.DS_Store
*.xcuserstate
*.vert
*.xcuserstate
